body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: "Trirong", serif;
    color: aliceblue;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}
h1.nombre {
    margin-top: 15px;
    text-decoration-line: overline;
    text-align: center;
    letter-spacing: 2px;
}

p.subtitulo {
    background-color: rgba(145, 77, 142, 0.35);
    padding: 0.5em;
    width:50%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}


#Introductorio{
    margin: auto;
    width: 40%;
    background-color: rgba(145, 77, 142, 0.45);
    color: rgb(252, 234, 255);
    padding: 1%;
    border-radius: 10px;
    margin-top: 5px;
    letter-spacing: -1px;
}


h2 {
    text-align: center;
    opacity: .8;
}

.seccion {
        margin: auto;
        width: 20%;
        color: rgb(255, 247, 234);
        padding: 20px;
        border-radius: 10px;
        margin-top: 1%;
    
}

.seccion h2 {
    opacity: 1;
    text-align: center;
    text-decoration-line: underline;
    letter-spacing: -1px;
}


#datos{
    margin: auto;
    width: 30%;
    background-color: rgba(145, 77, 142, 0.45);
    color: rgb(252, 234, 255);
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
    letter-spacing: -1px;
    text-align: center;
}

img.izquierda {
    height: 300px;
    float: inline-start;
    margin-inline-start: 5%;
  }

img.derecha {
    height: 300px;
    float: right;
    margin-inline-end: 3%;
  }

h1.chau {
    margin-top: 5%;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: rgb(195, 227, 255);

}